@model PenaltyPointsMVC3.ListedOffences

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ListedOffences</legend>

    <div class="display-label">LoName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoName)
    </div>

    <div class="display-label">LoDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoDesc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
