@model PenaltyPointsMVC3.ListedOffences

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ListedOffences</legend>

    <div class="display-label">LoName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoName)
    </div>

    <div class="display-label">LoDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoDesc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
