@model string

@{
    ViewBag.Title = "StatisticsComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Driver Offence Statistics You Requested To View Are:</h2>

<p>@ViewBag.Message</p>

<p>
    @Html.ActionLink("New Statistics", "Statistics", "DriverOffence")
</p>
