<<<<<<< HEAD
﻿@model OOPenaltyPoints.Models.ListedOffence

@{
    ViewBag.Title = "Delete";
}

<h2>Delete A Penalty Point Offence</h2>

<h3>Are you sure you want to delete the '@Html.DisplayFor(model => model.LoDesc)' penalty point offence?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
=======
﻿@model OOPenaltyPoints.Models.ListedOffence

@{
    ViewBag.Title = "Delete";
}

<h2>Delete A Penalty Point Offence</h2>

<h3>Are you sure you want to delete the '@Html.DisplayFor(model => model.LoDesc)' penalty point offence?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
>>>>>>> Added Unit Test & soa
